server:
  tomcat:
    uri-encoding: UTF-8
    max-threads: 1000
    min-spare-threads: 30
  port: 7016

logging:
  config: classpath:logback-spring.xml
  level:
    root: info

spring:
  datasource:
    url:  jdbc:mysql://*****:****/test?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: *****
    password: *****
    driver-class-name: com.mysql.jdbc.Driver

mysql-binlog-connect-java:
  datasource:
    hostname: *****
    port: *****
    username: *****
    password: *****
